let ${model._model}Instance = null;

class ${model._model}DAO extends SquigDao {

    constructor(table = '${model._model}', clz = ${model._model}) {
        super(table, clz);
    }

    getRelatedFields() {
        return ${relatedFields};
    }

    static get() {
        if (${model._model}Instance) return ${model._model}Instance;
        else {
            ${model._model}Instance = new ${model._model}DAO();
            return ${model._model}Instance;
        }
    }

}
